body {
  font-family: 'Poppins', sans-serif;
  background-color: #e7e8e8;
  margin: 0;
  padding: 0;
  color: #333333;
 
}

nav {
  background-color: #007acc;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #f8f9fa;
  font-size: 18px;
  padding: 8px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #495057;
  border-radius: 5px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

#my-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
  float: left;
}
.intro-card :hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
#my-pic:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.intro-card {
  overflow: hidden;
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1c1c1c;
  font-size: 26px;
  margin-top: 40px;
}

ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
#about{
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#about:hover{
  transform: scale(1.03);
  transition: transform 0.5s;
}
#projects{
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#projects:hover{
  transform: scale(1.03);
  transition: transform 0.5s;
}
#contact{
  background: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
#contact:hover{
  transform: scale(1.03);
  transition: transform 0.5s;
}